<%- include("partials/header"); -%>

<div class="create-new-password">

  <div class="create-new-password-title">
    <h2>Create New Password</h2>
  </div>

  <div class="error_msg">
    <% for(var i = 0; i < error_msg.length; i++){ %>
      <p>
        <%= error_msg[i]; %>
        </p>
    <% } %>
  </div>
<form class="login-form" action="/createnew" method="post">
      <input type="text" class="top" id="username" name="username" placeholder="Username" />
      <input class="middle" type="password" id="newpw" name="newpw" placeholder="New Password" />
      <input class="bottom" type="password" id="confirmpw" name="confirmpw" placeholder="Confirm Password" />
        <button class="register-button" type="submit" id="submitnewpw" name="button">Submit</button>
      </form>

      </div>

</div>
