<%- include("partials/header"); -%>

<div class="reset-password">

  <div class="reset-password-title">
    <h2>Reset Password</h2>
  </div>

  <div id="error_msg"></div>
  <div class="reset-form">
    <input class="middle" type="text" id="username" name="username" placeholder="Username" />
    <button class="register-button" type="submit" id="first_submit" name="button">Submit</button>
  </div>
  <div class="security-question-check" id="security-question">
    <div class="reset-form" id="resetformsecurity">
      <p id="security_question"> </p>
      <input type="text" id="sec_answer" class="security_answer middle" name="security_answer" placeholder="Answer">
      <button class="register-button"id="resetformsecurity" type="submit" name="button">Reset Password</button>
    </div>
    <p>
      Can't remember your answer? Opt for an email to reset your password instead.
    </p>
      <button class="register-button" id="send-email" type="submit" name="button">Email</button>
    </div>
    <a class="nav-link" href="/resetpassword">Re-enter Username</a>

  </div>

  <script type="text/javascript">
    $("#first_submit").click(function(e) {
      e.preventDefault();
      $.ajax({
        url: "/resetpassword",
        type: "POST",
        data: {
          username: document.getElementById("username").value
        },
        success: function(returned_data) {
          if (returned_data.redirect) {
            window.location.href = returned_data.redirect_url;
          }
          //get the div variable
          var div = document.getElementById('error_msg');
          //if there is an error message, display it
          if (returned_data.error_msg != "") {
            var para = document.createElement("p");
            para.style.margin = "1px";
            var message = document.createTextNode(returned_data.error_msg);
            para.appendChild(message);
            div.appendChild(para);
          }
          if (returned_data.security_question != undefined) {
            div.innerHTML = "";
            //otherwise, show question
            //display security question check
            var div_question = document.getElementById("security-question");
            div_question.style.display = "block";
            //insert question into div
            var para = document.getElementById("security_question");
            para.style.margin = "1px";
            var message = document.createTextNode(returned_data.security_question);
            para.appendChild(message);
            document.getElementById("first_submit").style.display = "none";
            document.getElementById("username").readOnly = true;

          }

        }
      });
    });

    $("#resetformsecurity").click(function(e) {
      e.preventDefault();
      $.ajax({
        url: "/reset-sec",
        type: "POST",
        data: {
          username: document.getElementById("username").value,
          sec_answer: document.getElementById("sec_answer").value
        },
        success: function(returned_data) {
          //get the div variable
          var div = document.getElementById('error_msg');

          //if there is an error message, display it
          if (returned_data.error_msg != "") {
            var para = document.createElement("p");
            para.style.margin = "1px";
            var message = document.createTextNode(returned_data.error_msg);
            para.appendChild(message);
            div.appendChild(para);
          }
          if (returned_data.redirect) {
            div.innerHTML = "";
            window.location.href = returned_data.redirect_url;
          }

        }
      });
    });

    $("#send-email").click(function(e){
      e.preventDefault();
      $.ajax({
        url: "/emailpw",
        type: "POST",
        data: {
          username: document.getElementById("username").value
        },
        success: function(returned_data){
          //get the div variable
          var div = document.getElementById('error_msg');

          //if there is an error message, display it
          if (returned_data.error_msg != "") {
            var para = document.createElement("p");
            para.style.margin = "1px";
            var message = document.createTextNode(returned_data.error_msg);
            para.appendChild(message);
            div.appendChild(para);
          }
        }
      });
    });
  </script>


</div>
